<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
        {% else %}
        <!-- google fonts -->
    <meta
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Welcome to the Best News Website for latest and current news</title>
    {% endif %}
</head>
<body>
        <!-- Content block -->
{% extends 'bootstrap/base.html'%}
        <!-- Navbar block  -->
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}